<!-- views/partials/head.ejs  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jumpstart</title>
  <!-- <! — STYLESHEETS -->
  <!-- Bootstrap CDN -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  <!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
