<!-- views/partials/head.ejs  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jumpstart</title>

  <!-- Bootstrap CDN -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="/dropzone/downloads/css/dropzone.css" rel="stylesheet">
  <!-- Google Authentication Scripts -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="305106195609-ber51vabb990ftsd40aqr31gjthutaau.apps.googleusercontent.com">
  <script src="/dropzone/downloads/dropzone.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/javascript/auth.js"></script>
  
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
