<!-- views/partials/head.ejs  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jumpstart</title>
  <!-- STYLESHEETS -->

  <!-- Bootstrap CDN -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  <!-- Google Authentication scripts -->
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="305106195609-ber51vabb990ftsd40aqr31gjthutaau.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/javascript/auth.js"></script>
  
  <!-- Include the above in your HEAD tag -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
