<!--Page Header-->
<div class="row" id="main" >
    <div class="col-sm-12 col-md-12 wellbg-dark text-white" id="content">
        <h1 class="text-center">Welcome to Jumpstart <i class="fa fa-angle-double-up" style="font-size:36px; color:red"></i></h1>
    </div>
</div>
<hr>

  <!-- ↓↓↓  Main Content Goes Below ↓↓↓ -->
<br>
<p>Please Login below to access all your leads: </p>
<br>
<br>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
</div>
          
    