<!--Page Header-->
<div class="row" id="main" >
        <div class="col-sm-12 col-md-12 wellbg-dark text-white" id="content">
            <h1 class="text-center">Test Path References</h1>
        </div>
    </div>
    <hr>
    
    <!-- ↓↓↓  Main Content Goes Below ↓↓↓ -->
    <h4>Should be a login page or home of some sorts, but for testing purposes, below is a pending list of routes to consider:</h4>
    <p>Note that these routes can be moved into their specified sub routes (e.g. lead-api-routes)</p>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <ul>
        <li><a href="/">"/" - Home (Test-Index For Now)</a></li>
        <li><a href="/myleads">"/myleads" - Show all leads </a></li>
        <li><a href="/myleads-cms">"/myleads-cms" - Add -OR- Update Lead</a></li>
        <li><a href="/todos">"/todos" - Show all todos (from all leads)</a></li>
        <li><a href="/todos-cms">"/todos-cms" - Add -OR- Update Todo.</a> Q: Kind of tricky here. Do users get to add and update from both the leads detailed view? and from this view as well?</li>
        <li><a href="/calendar">"/calendar"</a>-- still a question of google calendar integration (as well as google drive)</li>
        <li><a href="/networking">/networking</a> -- not sure how this is going ot play out. another list of things? with cms option?</li>
        <li>some sort of log off page eventually</li>
    </ul>