<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <div id="throbber" style="display:none; min-height:120px;"></div>
  <div id="noty-holder"></div>
  <div id="wrapper">

      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <!-- Top Menu Items -->
          <ul class="nav navbar-right top-nav">
              <li><a href="#"><i class="fa far fa-bolt" style= "font-size:22px; color: rgb(14, 185, 14)" ></i>
                  </a>
              </li>            
              <li class="dropdown">
                  <a href="#"class="dropdown-toggle" data-toggle="dropdown">Welcome to Jumpstart<b class="fa fa-angle-down"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="#"><i class="fa fa-fw fa-user" style="color: #00bfff" ></i> Edit Profile</a></li>
                      <li><a href="#"><i class="fa fa-fw fa-cog" style="color: #00bfff" ></i> Change Password</a></li>
                      <li class="divider"></li>
                      <li><a href="#"><i class="fa fa-fw fa-power-off" style="color: red"></i> Logout</a></li>
                  </ul>
              </li>
          </ul>

          <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav side-nav">
          
                  <li>
                      <a href="#"><i class="fa fa-fw fa-paper-plane-o" style="color:#00aeef "></i> My Leads</a>
                  </li>

                  <li>
                      <a href="investigaciones/favoritas"><i class="fa fa-fw fa-star" style="color: yellow"></i> To Do's</a>
                  </li>

                  <li>
                      <a href="sugerencias"><i class="fa fa-calendar" style="color:#eb008a"></i> Calendar</a>
                  </li>
                  
                  <li>
                      <a href="faq"><i class="fa fa-child" aria-hidden="true" style="color:#f8981d"></i> Networking</a>
                  </li>
  
              </ul>
              
          </div>
          <!-- /.navbar-collapse -->
      </nav>
      <div id="page-wrapper"></div>
          <div class="container-fluid">
              <!-- Page Heading -->
              <div class="row" id="main" >
                  <div class="col-sm-12 col-md-12 wellbg-dark text-white" id="content">
                      <h1 class="text-center">Add Your New Lead </h1>
                  </div>
              </div>
              <hr>
              <form>
                    <div class="form-group row">
                      <label for="input" class="col-sm-2 col-form-label">Company</label>
                      <div class="col-sm-10">
                        <input class="form-control" id="company" placeholder="Company Name">
                      </div>
                    </div>
                    <br>

                    <div class="form-group row">
                      <label for="inputlink" class="col-sm-2 col-form-label">Job Post Link</label>
                      <div class="col-sm-10">
                        <input class="form-control" id="inputlink" placeholder="Job Post URL">
                      </div>
                    </div>
                    <br>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Application Date</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="inputPassword3" placeholder="mm/dd/year">
                        </div>
                    </div>
                    <br>

                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Documents</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="inputPassword3" placeholder="attached">
                            <form ref='uploadForm' 
                            id='uploadForm' 
                            action='/upload' 
                            method='post' 
                            encType="multipart/form-data">
                              <input type="file" name="sampleFile"/>
                              <input type='submit' value='Upload!'/>
                            </form> 
                        </div>
                    </div>
                    <br>
                
                    <div class="form-group row">
                      <div class="col-sm-2"><strong>Status</strong></div>
                      <div class="col-sm-10">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck1">
                          <label class="form-check-label" for="gridCheck1">
                            Applied
                          </label>
                          <input class="form-check-input" type="checkbox" id="gridCheck2">
                          <label class="form-check-label" for="gridCheck1">
                            In Progress
                          </label>
                          <input class="form-check-input" type="checkbox" id="gridCheck3">
                          <label class="form-check-label" for="gridCheck1">
                            Not Started
                          </label>
                        </div>
                      </div>
                    </div>
                    <br>
                        <div class="form-group">
                                <label for="exampleFormControlTextarea1">Notes</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                        <br>

                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-warning">Add</button>
                      </div>
                    </div>
                  </form>
              <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
      </div>
      <!-- /#page-wrapper -->
  </div><!-- /#wrapper -->
      

</body>
</html>