<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container">
    <!-- <div id="throbber" style="display:none; min-height:120px;"></div> -->
    <!-- <div id="noty-holder"></div> -->
    <!-- ↑↑↑ WHAT DO THESE DO? ↑↑↑ -->

        <div id="wrapper">
            <!--Navigation-->
            <% include ../partials/navigation %>
            <div id="page-wrapper"></div> <!--This seemingly had no purpose but it's providing space between main content and navigation top-bar-->
            <div class="container-fluid">
                <!--Main Content-->
                <% include ../partials/myhome %>
            </div>
        </div>
        
    </div>
    <script src="/javascript/home.js"></script>
</body>
</html>